.config/nvim/lazy-lock.json
.config/nvim/lazyvim.json
.config/envman
.config/tmux/plugins/
.config/gh/
.config/lazygit/state.yml
.config/raycast
.config/btop
.config/configstore
.config/uv
.config/gcloud
.config/github-copilot
.config/zed/prompts
.config/zed/embeddings
.zsh

