[core]
	excludesFile = /Users/cadra/.gitignore_global
  editor = nvim

[user]
	email = 60411602+ntpotraz@users.noreply.github.com
	name = ntpotraz

[init]
	defaultBranch = main

[pull]
	rebase = true

[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
