[user]
	email = 60411602+ntpotraz@users.noreply.github.com
	name = Nathan Potraz

[core]
    pager = delta
	excludesfile = /Users/cadra/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[pull]
	rebase = false
